# Rewrite Module
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Media Files Cache-Control
<FilesMatch ".(jpg|jpeg|gif|png|svg|swf|webp)$">
    <IfModule mod_headers.c>
        Header set Cache-Control "max-age=31536000, public"
    </IfModule>
</FilesMatch>

# Text Files Cache-Control
<FilesMatch ".(xml|txt|css|js|woff2|woff|ttf)$">
    <IfModule mod_headers.c>
        Header set Cache-Control "max-age=31536000, public, proxy-revalidate"
    </IfModule>
</FilesMatch>

# Text Compression (GZIP)
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/json application/javascript application/rss+xml application/vnd.ms-fontobject application/x-font application/x-font-opentype application/x-font-otf application/x-font-truetype application/x-font-ttf application/x-javascript application/xhtml+xml application/xml font/opentype font/otf font/ttf image/svg+xml image/x-icon text/css text/html text/javascript text/plain
</IfModule>

# Text Compression (Brotli)
<IfModule mod_brotli.c>
  AddOutputFilterByType BROTLI_COMPRESS application/json application/javascript application/rss+xml application/vnd.ms-fontobject application/x-font application/x-font-opentype application/x-font-otf application/x-font-truetype application/x-font-ttf application/x-javascript application/xhtml+xml application/xml font/opentype font/otf font/ttf image/svg+xml image/x-icon text/css text/html text/javascript text/plain
</IfModule>